@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  background: #fbf7f1;
  perspective: 1000px;
}

header {
  padding: 0.5rem;
  background: hotpink;
  color: white;
}
h1 {
  color: #000;
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2rem;
  font-family: "Expletus Sans", sans-serif;
}
h1.typeWriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 2.25s steps(30, end), blink-caret .5s step-end infinite;
}

article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  height: 25rem;
  border-radius: 1rem;
  background: white;
  text-align: center;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  > p {
    line-height: 1.5rem;
  }
}

article:nth-child(1) h2,
article:nth-child(1) h3 {
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: 100;
}
footer {
  height: 1rem;
  background: hotpink;
}

button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.75rem;
  height: 2.75rem;
  background: black;
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  transition: 250ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}
button img,
a img {
  width: 1.25em;
  height: 1.25em;
  object-fit: contain;
}
button:hover {
  transform: rotate(-20deg);
  background-color: rgb(36, 36, 36);
}
article:nth-of-type(2) button:hover {
  transform: rotate(20deg);
}
.socials {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.socials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.socials a {
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: 250ms ease-in-out;
}
.socials a:hover {
  background-color: rgb(36, 36, 36);
}
.socials a img {
  transition: 250ms ease-in-out;
}
.socials a:hover img {
  transform: scale(1.05);
}






/* ANIMATIE TYPEWRITER  */
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
/* EINDE ANIMATIE TYPEWRITER */




.cards {
  transition: transform 1s;
  transform-style: preserve-3d;
}
.cards.turned {
  transform: rotateY(180deg);
}
.cardFront,
.cardBack{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardBack{
  position: absolute;
  top: 0;
  transition: .75s ease-in-out;
  /* wanneer je flipt staat de tekst goed */
  transform: rotateY(180deg);
  padding: 2rem 4rem;
}
.cardBack > img {
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 8px solid white;
  object-fit: cover;
}
.showCard .cardBack{
  display: flex;
  transition: .75s ease-in-out;
}